* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Open Sans';
}
#editDimmer{
  opacity: 0;
  background: black;
  color: white;
  padding: .5em;
  display: none;
  width: 100%;
  position: absolute;
  font-weight: bold;
  /* transition: visibility 1s, opacity 0.5s linear; */
  top: 0px;
  z-index: 99999999;
  height: 100%;
  text-align: center;
  font-size: 200%;
}
  #editDimmer > div{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  #editDimmer img{
    margin-bottom: 40px;
  }
*:not(i){
  
  font-family: 'Open Sans' !important;
}
html {
  overflow-y: initial !important;
}
html, body{
  height: 100%; 
}
html body #root, html body #root .home{
  height: 100%;
}
.pointer{
  cursor: pointer;
}
.inline{
  display: inline;
}
.wrapper{
  width: 990px;
  margin: auto;
}
.noMarginRight{
  margin-right: 0px !important;
}
body{
  background-color: #F1F1F1;
}
.floatRight{
  float: right !important;
}
.floatLeft{
  float: left !important;
}
.bold{
  font-weight: bold;
}






.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}




@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
