/* html {
    overflow-y: scroll; 
} */
.top {
    margin-top: 100px;
}    
.editLabel {
    font-size: 110%;
    width: 12%;
    float: left;
    color: #ef6c00;
    padding-left: 10px;
}

.editField {
    width:80%;
    background-color: #F1F1F1;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    outline-style:none;
}
.item {
    background-color: #F1F1F1;    
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    outline-style:none;
}

.editFlow {
    overflow: hidden;
    padding-top: 5px;
}

.RTE {
    margin-left: 12%;
    width:80%;
    /* border-style: solid;
    border-color: lightgray;
    border-width: 1px; */
}

.editSave {
    margin-left: 12%;
    height: 34px;
    cursor: pointer;
    line-height: 37px;
    width: 10%;
    color: white;
    background: #ef6c00;
    margin-top: 8px;
    margin-bottom: 30px;
    text-align: center;
    border: 0;
    box-shadow:none;
    border-radius: 0px;    
}

.listfield {
    overflow: hidden;
}
.delButton {
    cursor: pointer;
    float: right;
    margin-right: 80%;
    margin-top: -24px;
}
.addButton {
    cursor: pointer;
    margin-left: 25%;
}


