.thumbnail{
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background: #fff;
  border-radius: 2px;
  cursor: pointer;
  width: 17%; 
  height: 140px;
  margin-right: 3.7%;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 6px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-top: 4px solid transparent;
}
.thumbnail:nth-child(5n + 1){
  margin-right: 0px;
}
/* .thumbnail:nth-child(5n + 0){
  margin-left: 0px;
} */
.thumbnail:hover{
  border-top: 4px solid orange;
}
  .thumbnailLogo img{
    width: 100%;
  }
  .thumbnailTitle{
    word-break: break-all;
    word-wrap: break-word;
    padding: 5px;
    font-size: 80%;
    color: #383838;
  }