.thumbnail{
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background: #fff;
  border-radius: 2px;
  cursor: pointer;
  width: 17%; 
  height: 130px;
  margin-right: 3.7%;
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
  margin-bottom: 10px;
  /* padding-top: 6px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px; */
  border-bottom: 4px solid transparent;
  text-decoration: none;
  transition-duration: 0.2s;
}

/* .store .thumbnails .thumbnail:nth-child(5n + 1){
  margin-right: 0px;
}
.store .wrapper>.thumbnail:nth-child(5n){
  margin-right: 0px;
} */
/* .thumbnail:nth-child(5n + 0){
  margin-left: 0px;
} */
.collec{
    /* position: absolute; */
    margin-top: -10px;
    margin-left: 9px;
    width: 90%;
    height: 10px;
    /* border-radius: 2px 2px 0px 0px; */
    background: white;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid rgb(233, 233, 233);
    border-left: 1px solid rgb(233, 233, 233);
    border-right: 1px solid rgb(233, 233, 233);
    /* border-radius: 3px 3px 0px 0px; */
}
.thumbnail:hover{
  border-bottom: 4px solid orange;
}
  .thumbnailLogo img{
    width: 100%;
    height: 84px;
  }
  .thumbnailTitle{
    word-break: break-word;
    word-wrap: break-word;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    font-size: 85%;
    color: #383838;
  }
  .thumbnails{
    margin-top: 50px;
    margin-bottom: 20px;
  }